.Direction {
    height: 46px;
    width: 480px;

    margin-top: 15px;
   
    margin: auto;
    border-radius: 10px;
    border: solid;
    border-color: black;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #cecdc5;
    overflow: hidden;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.Direction h2 {
    margin-bottom: 0px;
    margin-top: 0px;
    color: black;
    background-color: #cecdc5;
}

.Direction p {
    margin-bottom: 0px;
    margin-top: 0px;
    color: black;
    background-color: #cecdc5;
}


.Direction:hover > h2 { background-color: #fff; }
.Direction:hover > p { background-color: #fff; }