

.Direction {
    margin: auto;
    height: 46px;
    width: 480px;
    border-radius: 10px;
    border: solid;
    border-color: black;
    background-color: #cecdc5;
    overflow: hidden;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.Direction h2 {
    color: black;
    background-color: #cecdc5;
    margin-top: auto;
    margin-bottom: auto;
}

.Direction p {
    margin: auto;
    color: black;
    background-color: #cecdc5;
}
.Direction .withoutDesc {
    margin-top: 9px;
    margin-bottom: 9px;
}



.Direction:hover {
    background-color: #fff;
    border-radius: 10px;
  }
  
.Direction:hover > h2 {
     background-color: #fff; 
     border-radius: 10px;
    }
.Direction:hover > p { background-color: #fff; }

a {
    border-radius: 10px;
}